.page.theme_dark {
  --accent-color: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-default-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --card-title-color: #000028;
  --card-description-color: #F1B2CE;
  --gallery-title-color: #000028;
  --footer-title-color: #DB00FF;
  --footer-title-shadow-color: #FF0070;
  --content-title-color: #FF0070;
  --header-decor-color: #FF0070;
  --header-title-color: #DB00FF;
  --header-title-shadow-color: #FF0070;
  --subheading-text-color: #000028;
}

.page.theme_dark .header__rec {
visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .page {
      --accent-color: #FF0070;
      --background-color: #000028;
      --background-image: url(../images/cover-image-dark.png);
      --button-default-color: #FF0070;
      --button-hover-color: rgba(255, 0, 112, 0.4);
      --card-title-color: #000028;
      --card-description-color: #F1B2CE;
      --gallery-title-color: #000028;
      --footer-title-color: #DB00FF;
      --footer-title-shadow-color: #FF0070;
      --content-title-color: #FF0070;
      --header-decor-color: #FF0070;
      --header-title-color: #DB00FF;
      --header-title-shadow-color: #FF0070;
      --subheading-text-color: #000028;
  }
  .header__rec {
    visibility: visible;
}
}