.page.theme_light {
  --accent-color: #FF8DCB;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --button-default-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.40);
  --card-title-color: #353430;
  --card-description-color: #353430;
  --gallery-title-color: #353430;
  --footer-title-color: #FFC2E6;
  --footer-title-shadow-color: #FF0070;
  --content-title-color: #353430;
  --header-decor-color: #353430;
  --header-title-color: #FFC2E6;
  --header-title-shadow-color: #FF0070;
  --subheading-text-color: #353430;
}

.page.theme_light .header__rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .page {
      --accent-color: #FF8DCB;
      --background-color: #FFF1F7;
      --background-image: url(../images/cover-image-light.png);
      --button-default-color: #353430;
      --button-hover-color: rgba(50, 49, 45, 0.40);
      --card-title-color: #353430;
      --card-description-color: #353430;
      --gallery-title-color: #353430;
      --footer-title-color: #FFC2E6;
      --footer-title-shadow-color: #FF0070;
      --content-title-color: #353430;
      --header-decor-color: #353430;
      --header-title-color: #FFC2E6;
      --header-title-shadow-color: #FF0070;
      --subheading-text-color: #353430;
  }

  .header__rec {
      visibility: hidden;
  }
}