/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --button-color: #353430;
  --heading-color: #FFC2E6;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --section-heading-color: #353430;
  --common-font-size: 18px;
  --background-image: url(../images/cover-image-light.png);
  --hovered-button-border: rgba(50, 49, 45, 0.40);
  --rec-visibility: none;

}

@media (prefers-color-scheme: light) {
  :root {
    --button-color: #353430;
    --heading-color: #FFC2E6;
    --background-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --section-heading-color: #353430;
    --common-font-size: 18px;
    --background-image: url(../images/cover-image-light.png);
    --hovered-button-border: rgba(50, 49, 45, 0.40);
    --rec-visibility: none;
  }

}